html {
    font-family: monospace;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

#adventure {
    height: 100%;
    width: 100%;
    background-color: black;
}

#navigation {
    display: grid;
    grid-template-columns: auto auto;
    height: 100px;
    width: 100px;
}

#navButtonContainer {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    /* padding: 20px; */
}

.navButton {
    display: inline;
    background-color: rgb(83, 83, 83);
    /* height: 1fr;
    width: 1fr; */
    /* padding: 25px; */
    text-align: center;
}

#mapContainer {
    background-color: white;
    position: absolute;
    padding: 0px;
    margin: 0;
}

#map {
    font-size: 16px;
    text-align: center;
    height: 594px;
    width: 594px;
    display: grid;
    gap: 0;
    background-color: rgb(82, 76, 76);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    /* padding: 5px; */
    /* padding-bottom: 10px; */
}

.mapCell {
    background-color: rgb(228, 228, 228);
    height: 18px;
    width: 18px;
    padding: 0;
    text-align: center;
}

#itemsMapContainer {
    font-size: 9px;
    word-wrap: break-word;
    line-height: 80%;
    position: absolute;
    /* padding: 3px; */
    margin: 0;
}

#itemsMap {
    display: grid;
    height: 594px;
    width: 594px;
    gap: 0;
    /* padding: 5px; */
    /* padding-bottom: 10px; */
}

.itemsMapCell {
    height: 18px;
    width: 18px;
    padding: 0;
    /* background-color: black; */
    opacity: 1;
}

#lightMapContainer {
    position: absolute;
    margin: 0;
}

#lightMap {
    display: grid;
    height: 594px;
    width: 594px;
    gap: 0;
}

.lightMapCell {
    height: 18px;
    width: 18px;
    padding: 0;
}

#menus {
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 6px;
    background-color: black;
    color: white;
    width: 54%;
}

#focus {
    font-size: 14px;
    position: absolute;
    left: 0;
    top:  10px;
    height: 609px;
    width: 423px;
    background-color: black;
    color: white;
    border: 1px white solid;
}

#focus::before {
    position: relative;
    background-color:black;
    content: "read me";
    top: -15px;
    left: 5px;
    color: white;
    opacity: 1;
    content: attr(focus-title);
}

#focusElementChild {
    position: absolute;
    left: 2px;
    top: 0px;
    color: white;
}

.inventory {
    position: relative;
    opacity: 1;
    background-color: black;
    text-decoration: underline;
}

#inventory {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 300px;
    height: 380px;
    border: 1px white solid;
}

#inventory::before {
    position: relative;
    top: -15px;
    left: 5px;
    content: "inventory";
    opacity: 1;
    background-color: black;
    text-decoration: underline;
}

#invQuant {
    position: absolute;
    top: -15px;
    left: 110px;
}

#invSpaceLimit {
    position: absolute;
    top: -15px;
    left: 140px;
    width: 34px;
}

#invWeightLimit {
    position: absolute;
    top: -15px;
    left: 210px;
    width: 42px;
}

.inventoryList {
    position: absolute;
    top: 10px;
    margin-left: 4px;
    width: 200px;
    text-decoration: none;
}

.displayInventory {
    display: grid;
    grid-template-columns: 105px 32px 70px auto;
}

#inventoryGridContainer {
    background-color: rgb(85, 85, 85);
    border:rgb(41, 41, 41);
    border-style: solid;
    padding-left: 3px;
    height: 0;
}

#ctx {
    position: fixed;
    z-index: 100;
}

.ctxParentMenu {
    position: fixed;
    background-color: black;
    color: white;
    height: 0;
    width: 0;
}

.ctxHoverMenu {
    position: fixed;
    background-color: black;
}

.ctxHoverChildHolder {
    position: fixed;
    background-color: black;
}

.ctxButton {
    position: fixed;
    color: white;
    background-color: black;
}

#cellFocusItems {
    position: absolute;
    width: 409px;
    height: 300px;
    left: 5px;
    top: 5px;
    padding-left: 2px;
    border: 1px white solid;
}

#cellFocusMobs {
    position: absolute;
    top: 310px;
    width: 132px;
    border: 1px white solid;
    left: 5px;
    padding-left: 2px;
    height: 292px;
}

#cellFocusTerrain {
    position: absolute;
    top: 310px;
    width: 132px;
    border: 1px white solid;
    left: 144px;
    padding-left: 2px;
    height: 292px;
}

#cellFocusGround {
    position: absolute;
    top: 310px;
    width: 131px;
    border: 1px white solid;
    left: 283px;
    padding-left: 2px;
    height: 292px;
}

.cellFocusTitle {
    text-decoration: underline;
}