html {
    font-family: monospace;
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
}

#adventure {
    height: 100%;
    width: 100%;
    background-color: black;
}

#navigation {
    display: grid;
    grid-template-columns: auto auto;
    height: 300px;
    width: 300px;
}

#navButtonContainer {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    padding: 20px;
}

.navButton {
    display: inline;
    background-color: rgb(83, 83, 83);
    /* height: 1fr;
    width: 1fr; */
    padding: 25px;
    text-align: center;
}

#mapContainer {
    background-color: #5c5c5c;
    position: absolute;
    padding: 3px;
    margin: 0;
}

#map {
    font-size: 16px;
    text-align: center;
    height: 600px;
    width: 600px;
    display: grid;
    gap: 0;
    background-color: rgb(82, 76, 76);
    padding: 5px;
    padding-bottom: 10px;
}

.mapCell {
    background-color: rgb(228, 228, 228);
    height: 18px;
    width: 18px;
    padding: 0;
    text-align: center;
}

#itemsMapContainer {
    font-size: 9px;
    word-wrap: break-word;
    line-height: 80%;
    position: absolute;
    padding: 3px;
    margin: 0;
}

#itemsMap {
    display: grid;
    height: 600px;
    width: 600px;
    gap: 0;
    padding: 5px;
    padding-bottom: 10px;
}

.itemsMapCell {
    height: 18px;
    width: 18px;
    padding: 0;
    /* background-color: black; */
    opacity: 1;
}

#lightMapContainer {
    position: absolute;
    padding: 3px;
    margin: 0;
}

#lightMap {
    display: grid;
    height: 600px;
    width: 600px;
    gap: 0;
    padding: 5px;
    padding-bottom: 10px;
}

.lightMapCell {
    height: 18px;
    width: 18px;
    padding: 0;
}

#menus {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 6px;
    background-color: rgb(41, 41, 41);
    color: white;
    width: 54%;
}

.inventory {
    position: relative;
    opacity: 1;
    background-color: black;
    text-decoration: underline;
}

#inventory {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 5px;
    width: 320px;
    height: 380px;
    border: 1px white solid;
}

#inventory::before {
    position: relative;
    top: -15px;
    left: 5px;
    content: "inventory";
    opacity: 1;
    background-color: black;
    text-decoration: underline;
}

#invQuant {
    position: absolute;
    top: -15px;
    left: 110px;
}

#invSpaceLimit {
    position: absolute;
    top: -15px;
    left: 140px;
    width: 34px;
}

#invWeightLimit {
    position: absolute;
    top: -15px;
    left: 210px;
    width: 42px;
}

.inventoryList {
    position: absolute;
    top: 10px;
    margin-left: 4px;
    width: 200px;
    text-decoration: none;
}

.displayInventory {
    display: grid;
    grid-template-columns: 105px 32px 70px auto;
}

.topBar {
    color: white;
    margin-right: 10px;
}

.title {
    display: inline-block;
    padding-left: 2px;
}

#inventoryGridContainer {
    background-color: rgb(85, 85, 85);
    border:rgb(41, 41, 41);
    border-style: solid;
    padding-left: 3px;
    height: 0;
}

#ctx {
    position: fixed;
    z-index: 100;
}

.ctxParentMenu {
    position: fixed;
    background-color: black;
    color: white;
    height: 0;
    width: 0;
}

.ctxHoverMenu {
    /* border: white solid 1px; */
    position: fixed;
    background-color: black;
}

.ctxHoverChildHolder {
    position: fixed;
    background-color: black;
}

.ctxButton {
    /* border: white 1px solid; */
    position: fixed;
    /* padding-left: 1px; */
    color: white;
    background-color: black;
    /* border-left: 2px solid rgb(82, 76, 76); */
}
